
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="http://ww1.sinaimg.cn/large/006tKfTcgy1ff3f99rtu7j30yq0dwq6z.jpg" alt="First slide">
      <div class="container">
        <!-- <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div> -->
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="http://ww2.sinaimg.cn/large/006tNc79gy1ff3g2v4iy1j30yq0dwwhw.jpg" alt="Second slide">
      <!-- <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div> -->
    </div>
    <div class="item">
      <img class="third-slide" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff3g50wao5j30yq0dwmyi.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Join us</h1>
          <p>Making your sourcing work easy.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://ww3.sinaimg.cn/large/006tNc79gy1ff3gobihouj309d09djrk.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Ricardo Soraes</h2>
          <p>I am Supply Chain Manager na Laboratórios Basi. Pharmabook is the right tool to let your work be more efficient. They have very rich-experienced people and provide excellent service.</p>
          <p><a class="btn btn-default" href="http://www.linkedin.com/in/ricardo-soares-b3665772/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://ww4.sinaimg.cn/large/006tNc79gy1ff3gou8834j306b06bt8q.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Elena Achkasova</h2>
          <p>I am purchasing manager of Reckitt Benckiser Group plc. Pharmabook let me connect with a lot potential suppliers in China.</p>
          <p><a class="btn btn-default" href="http://www.linkedin.com/in/oachkasova/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://ww1.sinaimg.cn/large/006tNc79gy1ff3gpetn9nj30av0av3z8.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Danny Chen</h2>
          <p>This is Danny Chen from MedWay Company Limited. We export medicines, we connect with a lot customers worldwide on the pharmabook.</p>
          <p><a class="btn btn-default" href="http://www.linkedin.com/in/danny-chen-1138a58/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->



            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
              </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
              </div>
            </div>


            <!-- /END THE FEATURETTES -->


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="../../assets/javascripts/bootstrap.min.js"></script>
      <script src="../../assets/javascripts/holder.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../../assets/javascripts/jquery.min.js"><\/script>')</script>

      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->

      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/javascripts/ie10-viewport-bug-workaround.js"></script>
