<div>
  <br>
<% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, please type some words to search.
    </div>

  <% elsif @manufacturers.blank? %>
    <br>
    <h2 class="search-info-title">no results</h2>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h2>
    <div class="search-result">

      <div class="row jobs-show0"></div>
      <div class="job-table">
        <% @manufacturers.each do |manufacturer| %>
        <div class="row jobs-show">

          <div class="col-md-12 col-lg-9 col-lg-offset-1">

            <div class="pull-right">
              发布时间：<%= manufacturer.created_at.to_date %>
            </div>
            <p ><%= link_to(manufacturer.name, manufacturer_path(manufacturer)) %></p>

          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@manufacturers, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div>
